from python.commands import *
from python.keypad2487S import *
from python.thermostat2441TH import *
from python.modem2413U import *
from python.switch2477S import *
from python.dimmer2477D import *

def connectToMyHub():
    connectToHub("insteonhub", 25105, 1000, "MyHubLogin", "MyHubPassword")
    out("connected")

def connectToMySerial():
    connectToSerial("/dev/insteon")

connectToMySerial()

kp          = keypad2487S("office_keypad", "30.0d.9f")
th          = thermostat2441TH("kitchen_thermostat", "32.f7.2c")
modem       = modem2413U("test_modem", "23.9b.65")
closetLight = switch2477S("closetLight", "25.65.d6")
dimmer 	    = dimmer2477D("dining_room_dinner", "20.ab.26")


